/* You can add global styles to this file, and also import other style files */
@font-face{
  font-family: JosefinSans-Regular;
  src: url(/assets/fonts/josefin-sans/JosefinSans-Regular.ttf);
}

html, body { height: 100%; }
body { margin: 0; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; background-color: #f1f1f1; }
