<div class="cards">
  <div *ngFor="let card of cards$ | async; index as idx" class="card-container">
    <app-card [card]="card" (cardChanged)="cardChanged($event, idx)"></app-card>
    <button mat-fab color="primary" class="addCard" (click)="removeCard(idx)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <div class="placeholder card-container">
    <div class="card"></div>
    <button mat-fab color="primary" class="addCard" (click)="addCard()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>