.cards {
  padding: 32px;
  display: flex;
}
.card-container {
  margin: 16px;
}
.card-container > button {
  margin: 0 auto;
  display: block;
}
.card {
  position: relative;
  overflow: hidden;
  background: gray;
  width: 488px;
  height: 682px;
  border-radius: 22px;
  margin-bottom: 16px;
}