.edit {
  display: none;
  padding: 8px;
  position: absolute;
  z-index: 50;
  left: 0;
  width: 100%;
  box-sizing: border-box;

  .active & {
    display: block;
  }
}
.card {
  position: relative;
  overflow: hidden;
  background: gray;
  width: 488px;
  height: 682px;
  border-radius: 22px;
  margin-bottom: 16px;
}


.card.fast {
  background-image: url('/assets/images/fast-card-transparent.PNG');
  background-position-y: -20px;
  background-position-x: -11px;
}

.card.slow {
  background-image: url('/assets/images/slow-card-transparent.PNG');
  background-position-y: -20px;
  background-position-x: -12px;
}

.card.fast .info-speed {
  background-image: url('/assets/images/50px-Fasticon.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px 30px;
}

.card.slow .info-speed {
  background-image: url('/assets/images/50px-Slowicon.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px 30px;
}

.cost {
  font-family: 'Gobold Extra2';
  font-size: 34px;
  color: white;
  position: absolute;
  left: 45px;
  top: 57px;
  width: 64px;
  height: 40px;
  text-align: center;

  .edit {
    top: 100%;
    text-align: center;
  }
}

.title {
  position: absolute;
  left: 135px;
  top: 28px;
  height: 62px;
  width: 310px;
  
  font-size: 34px;
  line-height: 62px;
  font-family: 'DK Snemand';
  text-transform: uppercase;
  color: white;
  
  text-align: center;
}

.image {
  position: absolute;
  left: 108px;
  top: 97px;
  width: 352px;
  height: 260px;
  border-top-left-radius: 10px;
}

.info-title {
  position: absolute;
  left: 108px;
  top: 336px;
  height: 22px;
  width: 353px;

  display: flex;
  align-items: center;

  color: white;
  font-family: 'DK Snemand';
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center;
  background-color: rgba(248, 215, 106, 0.4);
}

.info {
  position: absolute;
  left: 108px;
  top: 358px;
  width: 353px;
  height: 38px;

  display: flex;

  font-family: 'DK Snemand';
  text-transform: uppercase;
  background-color: rgb(255, 251, 188);
}

.info-title-speed,
.info-speed {
  width: 107px;
}
.info-title-range,
.info-range {
  width: 118px;
}
.info-title-target,
.info-target {
  flex-grow: 1;
}

.info-target,
.info-range {
  font-size: 26px;
  line-height: 38px;
  border-left: 1px solid gray;
  text-align: center;

  > div {
    height: 100%;
  }
  .edit {
    bottom: 100%;
    margin-bottom: 22px;
  }
}

.info-target {
}

.text {
  position: absolute;
  left: 108px;
  top: 394px;
  width: 353px;
  height: 247px;
  
  text-align: center;
  font-family: 'JosefinSans-Regular';
  font-size: 22px;
  line-height: 30px;

  background-color: white;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 2px;

  > div {
    height: 100%;

    box-sizing: border-box;
    padding-top: 6px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .edit {
    bottom: 100%;
    margin-bottom: 60px;
    height: 100%;
  }
}

.artist {
  position: absolute;
  left: 132px;
  top: 645px;
  width: 253px;
  height: 14px;

  color: rgba(255, 255, 255, 0.8);
  font-family: 'JosefinSans-Regular';
  font-size: 11px;
}
